
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        Id:@ViewBag.Produto.Id<br />
        Nome:@ViewBag.Produto.Nome<br />
        Quantidade:@ViewBag.Produto.Quantidade<br />
        Preço:@ViewBag.Produto.Preco<br />
        Descrição:@ViewBag.Produto.Descricao<br />
        Categoria:@ViewBag.Produto.Categoria.Nome<br/>

        <!---primeiro parametro se passa o nome do texto que quer colocar, o segundo pra onde ira ir depois de clicado, o terceiro 
            fala o controller que quer mandar
            --->             
        @Html.ActionLink("Voltar Para a Lista de Produtos", "index","Produto")
    </div>
</body>
</html>
