
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>

            @*Cabeçalho da tabela*@
            <thead>
                @* linha que vai ser colocado as coluna   *@l
                <tr>
                    @*Colunas*@
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>

                </tr>
            </thead>

            @*Corpo da tabela *@
            <tbody>
                @foreach (var produto in ViewBag.Produtos)
                {
                    <tr>@produto.Id</tr>
                    <tr>@produto.Nome</tr>
                    <tr>@produto.Quantidade</tr>
                }
            </tbody>

        </table>


    </div>
</body>
</html>
